@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --ai-general-active: var(--ai-general-active);
  --ai-general-hover: var(--ai-general-hover);
  --ai-general: var(--ai-general);
  --ai-light-active: var(--ai-light-active);
  --ai-light-hover: var(--ai-light-hover);
  --ai-light: var(--ai-light);
  --ai-bg: var(--ai-bg);
  --shadow-focus: var(--shadow-focus);
  --focusring-brand: var(--focusring-brand);
  --divider-neutral-strong: var(--divider-neutral-strong);
  --divider-neutral-basic: var(--divider-neutral-basic);
  --border-error-light-hover: var(--border-error-light-hover);
  --border-error-light: var(--border-error-light);
  --border-error-active: var(--border-error-active);
  --border-error-hover: var(--border-error-hover);
  --border-error: var(--border-error);
  --border-warning-light-hover: var(--border-warning-light-hover);
  --border-warning-light: var(--border-warning-light);
  --border-warning-active: var(--border-warning-active);
  --border-warning-hover: var(--border-warning-hover);
  --border-warning: var(--border-warning);
  --border-success-light-hover: var(--border-success-light-hover);
  --border-success-light: var(--border-success-light);
  --border-success-active: var(--border-success-active);
  --border-success-hover: var(--border-success-hover);
  --border-success: var(--border-success);
  --border-neutral: var(--border-neutral);
  --border-brand-light-hover: var(--border-brand-light-hover);
  --border-brand-light: var(--border-brand-light);
  --border-brand-active: var(--border-brand-active);
  --border-brand-hover: var(--border-brand-hover);
  --border-brand: var(--border-brand);
  --bg-page-neutral: var(--bg-page-neutral);
  --bg-page-brand: var(--bg-page-brand);
  --bg-page: var(--bg-page);
  --color-bg-mask: var(--bg-mask);
  --bg-neutral-active: var(--bg-neutral-active);
  --bg-neutral-hover: var(--bg-neutral-hover);
  --bg-neutral: var(--bg-neutral);
  --bg-error-active: var(--bg-error-active);
  --bg-error-hover: var(--bg-error-hover);
  --bg-error-light-active: var(--bg-error-light-active);
  --bg-error-light-hover: var(--bg-error-light-hover);
  --bg-error-light: var(--bg-error-light);
  --bg-error: var(--bg-error);
  --bg-warning-active: var(--bg-warning-active);
  --bg-warning-hover: var(--bg-warning-hover);
  --bg-warning-light-active: var(--bg-warning-light-active);
  --bg-warning-light-hover: var(--bg-warning-light-hover);
  --bg-warning-light: var(--bg-warning-light);
  --bg-warning: var(--bg-warning);
  --bg-success-active: var(--bg-success-active);
  --bg-success-hover: var(--bg-success-hover);
  --bg-success-light-active: var(--bg-success-light-active);
  --bg-success-light-hover: var(--bg-success-light-hover);
  --bg-success-light: var(--bg-success-light);
  --bg-success: var(--bg-success);
  --bg-container-disable: var(--bg-container-disable);
  --bg-brand-active: var(--bg-brand-active);
  --bg-brand-hover: var(--bg-brand-hover);
  --bg-brand: var(--bg-brand);
  --bg-brand-light-active: var(--bg-brand-light-active);
  --bg-brand-light-hover: var(--bg-brand-light-hover);
  --bg-brand-light: var(--bg-brand-light);
  --bg-neutral-light-active: var(--bg-neutral-light-active);
  --bg-neutral-light-hover: var(--bg-neutral-light-hover);
  --bg-neutral-light: var(--bg-neutral-light);
  --bg-container: var(--bg-container);
  --text-error-active: var(--text-error-active);
  --text-error-hover: var(--text-error-hover);
  --text-error: var(--text-error);
  --text-warning-active: var(--text-warning-active);
  --text-warning-hover: var(--text-warning-hover);
  --text-warning: var(--text-warning);
  --text-success-active: var(--text-success-active);
  --text-success-hover: var(--text-success-hover);
  --text-success: var(--text-success);
  --color-text-inverse: var(--text-inverse);
  --text-title: var(--text-title);
  --text-brand-active: var(--text-brand-active);
  --text-brand-hover: var(--text-brand-hover);
  --text-brand: var(--text-brand);
  --text-placeholder: var(--text-placeholder);
  --text-disable: var(--text-disable);
  --text-tertiary: var(--text-tertiary);
  --text-secondary: var(--text-secondary);
  --text-primary: var(--text-primary);
  --color-error-foreground: var(--error-foreground);
  --error: var(--error);
  --color-warning-foreground: var(--warning-foreground);
  --warning: var(--warning);
  --color-warning-1000: var(--warning-1000);
  --color-success-foreground: var(--success-foreground);
  --success: var(--success);
  --surface-foreground: var(--surface-foreground);
  --surface: var(--surface);
  --ring: var(--ring);
  --input: var(--input);
  --border: var(--border);
  --destructive-foreground: var(--destructive-foreground);
  --destructive: var(--destructive);
  --accent-foreground: var(--accent-foreground);
  --accent: var(--accent);
  --muted-foreground: var(--muted-foreground);
  --muted: var(--muted);
  --secondary-foreground: var(--secondary-foreground);
  --secondary: var(--secondary);
  --primary-foreground: var(--primary-foreground);
  --primary: var(--primary);
  --popover-foreground: var(--popover-foreground);
  --popover: var(--popover);
  --card-foreground: var(--card-foreground);
  --card: var(--card);
  --foreground: var(--foreground);
  --background: var(--background);
  --color-error: var(--color-error);
  --color-error-10000: var(--color-error-10000);
  --color-error-1000: var(--color-error-1000);
  --color-error-900: var(--color-error-900);
  --color-error-800: var(--color-error-800);
  --color-error-700: var(--color-error-700);
  --color-error-600: var(--color-error-600);
  --color-error-500: var(--color-error-500);
  --color-error-400: var(--color-error-400);
  --color-error-300: var(--color-error-300);
  --color-error-200: var(--color-error-200);
  --color-error-100: var(--color-error-100);
  --color-error-50: var(--color-error-50);
  --color-warning: var(--color-warning);
  --color-warning-10000: var(--color-warning-10000);
  --color-warning-900: var(--color-warning-900);
  --color-warning-800: var(--color-warning-800);
  --color-warning-700: var(--color-warning-700);
  --color-warning-600: var(--color-warning-600);
  --color-warning-500: var(--color-warning-500);
  --color-warning-400: var(--color-warning-400);
  --color-warning-300: var(--color-warning-300);
  --color-warning-200: var(--color-warning-200);
  --color-warning-100: var(--color-warning-100);
  --color-warning-50: var(--color-warning-50);
  --color-success: var(--color-success);
  --color-success-1000: var(--color-success-1000);
  --color-success-900: var(--color-success-900);
  --color-success-800: var(--color-success-800);
  --color-success-700: var(--color-success-700);
  --color-success-600: var(--color-success-600);
  --color-success-500: var(--color-success-500);
  --color-success-400: var(--color-success-400);
  --color-success-300: var(--color-success-300);
  --color-success-200: var(--color-success-200);
  --color-success-100: var(--color-success-100);
  --color-success-50: var(--color-success-50);
  --color-brand-1000: var(--color-brand-1000);
  --color-brand-900: var(--color-brand-900);
  --color-brand-800: var(--color-brand-800);
  --color-brand-700: var(--color-brand-700);
  --color-brand-600: var(--color-brand-600);
  --color-brand-500: var(--color-brand-500);
  --color-brand-400: var(--color-brand-400);
  --color-brand-300: var(--color-brand-300);
  --color-brand-200: var(--color-brand-200);
  --color-brand-100: var(--color-brand-100);
  --color-brand-50: var(--color-brand-50);
  --color-neutral-1000: var(--color-neutral-1000);
  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-600: var(--color-neutral-600);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-400: var(--color-neutral-400);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-50: var(--color-neutral-50);
  --color-neutral-10: var(--color-neutral-10);
  --color-neutral-0: var(--color-neutral-0);
  --color-selection-foreground: var(--color-selection-foreground);
  --color-selection: var(--color-selection);
  --color-code-number: var(--color-code-number);
  --color-code-highlight: var(--color-code-highlight);
  --color-code-foreground: var(--color-code-foreground);
  --color-code: var(--color-code);
  --color-surface-foreground: var(--color-surface-foreground);
  --color-surface: var(--color-surface);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --shadow-high: var(--shadow-high);
  --shadow-medium: var(--shadow-medium);
  --shadow-basic: var(--shadow-basic);
  --border-width: var(--border-width);
  --size-com-lg: var(--size-com-lg);
  --size-com-md: var(--size-com-md);
  --size-com-sm: var(--size-com-sm);
  --size-com-xs: var(--size-com-xs);
  --gap-2xl: var(--gap-2xl);
  --gap-xl: var(--gap-xl);
  --gap-lg: var(--gap-lg);
  --gap-md: var(--gap-md);
  --gap-sm: var(--gap-sm);
  --gap-xs: var(--gap-xs);
  --gap-2xs: var(--gap-2xs);
  --padding-com-3xl: var(--padding-com-3xl);
  --padding-com-2xl: var(--padding-com-2xl);
  --padding-com-xl: var(--padding-com-xl);
  --padding-com-lg: var(--padding-com-lg);
  --padding-com-md: var(--padding-com-md);
  --padding-com-sm: var(--padding-com-sm);
  --padding-com-xs: var(--padding-com-xs);
  --padding-com-2xs: var(--padding-com-2xs);
  --margin-com-3xl: var(--margin-com-3xl);
  --margin-com-2xl: var(--margin-com-2xl);
  --margin-com-xl: var(--margin-com-xl);
  --margin-com-lg: var(--margin-com-lg);
  --margin-com-md: var(--margin-com-md);
  --margin-com-sm: var(--margin-com-sm);
  --margin-com-xs: var(--margin-com-xs);
  --margin-com-2xs: var(--margin-com-2xs);
  --spacing: var(--spacing);
  --space-12: var(--space-12);
  --space-11: var(--space-11);
  --space-10: var(--space-10);
  --space-9: var(--space-9);
  --space-8: var(--space-8);
  --space-7: var(--space-7);
  --space-6: var(--space-6);
  --space-5: var(--space-5);
  --space-4: var(--space-4);
  --space-3: var(--space-3);
  --space-2: var(--space-2);
  --space-1: var(--space-1);
  --radius-circle: var(--radius-circle);
  --radius-2xl: var(--radius-2xl);
  --line-height-9: var(--line-height-9);
  --line-height-8: var(--line-height-8);
  --line-height-7: var(--line-height-7);
  --line-height-6: var(--line-height-6);
  --line-height-5: var(--line-height-5);
  --line-height-4: var(--line-height-4);
  --line-height-3: var(--line-height-3);
  --line-height-2: var(--line-height-2);
  --line-height-1: var(--line-height-1);
  --font-size-9: var(--font-size-9);
  --font-size-8: var(--font-size-8);
  --font-size-7: var(--font-size-7);
  --font-size-6: var(--font-size-6);
  --font-size-5: var(--font-size-5);
  --font-size-4: var(--font-size-4);
  --font-size-3: var(--font-size-3);
  --font-size-2: var(--font-size-2);
  --font-size-1: var(--font-size-1);
  --font-weight-600: var(--font-weight-600);
  --font-weight-400: var(--font-weight-400);
  --font-family-display: var(--font-family-display);
  --font-family-cn: var(--font-family-cn);
  --font-family-en: var(--font-family-en);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 6px;
  --accent: var(--neutral-100);
  --accent-foreground: var(--neutral-900);
  --ai-bg: linear-gradient(90deg, #eff7ff 0%, #f4f4ff 30%, #f8edff 60%, #fff2ff 100%);
  --ai-general: linear-gradient(90deg, #2e8cff 0%, #6b61ff 30%, #a647ff 60%, #e945ff 100%);
  --ai-general-active: linear-gradient(90deg, #2172db 0%, #584ddb 30%, #8636db 60%, #c235db 100%);
  --ai-general-hover: linear-gradient(90deg, #82beff 0%, #a3a0ff 30%, #d191ff 60%, #f98fff 100%);
  --ai-light: linear-gradient(90deg, #eff7ff 0%, #f4f4ff 30%, #f8edff 60%, #fff2ff 100%);
  --ai-light-active: linear-gradient(90deg, #abd5ff 0%, #c1c0ff 30%, #e3b5ff 60%, #feb5ff 100%);
  --ai-light-hover: linear-gradient(90deg, #d5ebff 0%, #dfe0ff 30%, #f2daff 60%, #ffdafe 100%);
  --background: var(--neutral-0);
  --bg-brand: var(--brand-600);
  --bg-brand-active: var(--brand-700);
  --bg-brand-hover: var(--brand-500);
  --bg-brand-light: var(--brand-100);
  --bg-brand-light-active: var(--brand-300);
  --bg-brand-light-hover: var(--brand-200);
  --bg-container: var(--neutral-0);
  --bg-container-disable: var(--neutral-200);
  --bg-error: var(--error-600);
  --bg-error-active: var(--error-700);
  --bg-error-hover: var(--error-500);
  --bg-error-light: var(--error-100);
  --bg-error-light-active: var(--error-300);
  --bg-error-light-hover: var(--error-200);
  --bg-mask: rgba(0, 0, 0, 0.8);
  --bg-neutral: var(--neutral-800);
  --bg-neutral-active: var(--neutral-900);
  --bg-neutral-hover: var(--neutral-700);
  --bg-neutral-light: var(--neutral-100);
  --bg-neutral-light-active: var(--neutral-300);
  --bg-neutral-light-hover: var(--neutral-200);
  --bg-page: var(--neutral-0);
  --bg-page-brand: var(--brand-50);
  --bg-page-neutral: var(--neutral-50);
  --bg-success: var(--success-600);
  --bg-success-active: var(--success-700);
  --bg-success-hover: var(--success-500);
  --bg-success-light: var(--success-100);
  --bg-success-light-active: var(--success-300);
  --bg-success-light-hover: var(--success-200);
  --bg-warning: var(--warning-600);
  --bg-warning-active: var(--warning-700);
  --bg-warning-hover: var(--warning-500);
  --bg-warning-light: var(--warning-100);
  --bg-warning-light-active: var(--warning-300);
  --bg-warning-light-hover: var(--warning-200);
  --border: var(--neutral-300);
  --border-brand: var(--brand-600);
  --border-brand-active: var(--brand-700);
  --border-brand-hover: var(--brand-500);
  --border-brand-light: var(--brand-300);
  --border-brand-light-hover: var(--brand-400);
  --border-error: var(--error-600);
  --border-error-active: var(--error-700);
  --border-error-hover: var(--error-500);
  --border-error-light: var(--error-300);
  --border-error-light-hover: var(--error-400);
  --border-neutral: var(--neutral-300);
  --border-success: var(--success-600);
  --border-success-active: var(--success-700);
  --border-success-hover: var(--success-500);
  --border-success-light: var(--success-300);
  --border-success-light-hover: var(--success-400);
  --border-warning: var(--warning-600);
  --border-warning-active: var(--warning-700);
  --border-warning-hover: var(--warning-500);
  --border-warning-light: var(--warning-300);
  --border-warning-light-hover: var(--warning-400);
  --border-width: 1px;
  --brand-100: #edf2ff;
  --brand-1000: #130d66;
  --brand-200: #dfe9ff;
  --brand-300: #d0ddff;
  --brand-400: #9ca9ff;
  --brand-50: #f7f9ff;
  --brand-500: #7381ff;
  --brand-600: #4a56ff;
  --brand-700: #343ad9;
  --brand-800: #2222b3;
  --brand-900: #18148c;
  --card: var(--neutral-0);
  --card-foreground: var(--neutral-900);
  --code: #f9f9fb;
  --code-foreground: #1e1d26;
  --code-highlight: #f0f0f4;
  --code-number: #9e9ca6;
  --destructive: var(--error-600);
  --destructive-foreground: var(--neutral-0);
  --divider-neutral-basic: var(--neutral-300);
  --divider-neutral-strong: var(--neutral-400);
  --error: var(--error-600);
  --error-100: #ffebe9;
  --error-10000: #660d1c;
  --error-200: #ffdad6;
  --error-300: #ffcbc7;
  --error-400: #ff9f9c;
  --error-50: #fff7f6;
  --error-500: #ff7373;
  --error-600: #ff494f;
  --error-700: #d9343f;
  --error-800: #b32230;
  --error-900: #8c1424;
  --error-foreground: #ffffff;
  --focusring-brand: var(--brand-300);
  --font-family-cn: "PingFang SC", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 28px;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --foreground: var(--neutral-900);
  --gap-lg: var(--space-5);
  --gap-md: var(--space-4);
  --gap-sm: var(--space-3);
  --gap-xl: var(--space-6);
  --gap-xs: var(--space-2);
  --input: var(--neutral-300);
  --line-height-1: 20px;
  --line-height-2: 22px;
  --line-height-4: 28px;
  --line-height-6: 36px;
  --muted: var(--neutral-100);
  --muted-foreground: var(--neutral-700);
  --neutral-0: #ffffff;
  --neutral-10: #fcfcfd;
  --neutral-100: #f0f0f4;
  --neutral-1000: #000000;
  --neutral-200: #e8e7ed;
  --neutral-300: #e1e0e7;
  --neutral-400: #aaa8b3;
  --neutral-50: #f9f9fb;
  --neutral-500: #9e9ca6;
  --neutral-600: #8e8c99;
  --neutral-700: #666473;
  --neutral-800: #403f4d;
  --neutral-900: #1e1d26;
  --padding-com-lg: var(--space-5);
  --padding-com-md: var(--space-4);
  --padding-com-sm: var(--space-3);
  --padding-com-xl: var(--space-6);
  --padding-com-xs: var(--space-2);
  --padding-left: calc(4px * 4);
  --padding-right: calc(4px * 4);
  --popover: var(--neutral-0);
  --popover-foreground: var(--neutral-900);
  --primary: var(--brand-600);
  --primary-foreground: var(--neutral-0);
  --radius: 6px;
  --radius-2xl: 16px;
  --radius-circle: 999px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --ring: var(--brand-300);
  --secondary: var(--neutral-100);
  --secondary-foreground: var(--neutral-900);
  --selection: #1e1d26;
  --selection-foreground: #ffffff;
  --shadow-basic: 0 1px 10px 0 #0000000d, 0 4px 5px 0 #00000014, 0 2px 4px -1px #0000001f;
  --shadow-focus: 0 0 0 2px #d0ddff;
  --shadow-high: 0 6px 30px 5px #0000000d, 0 16px 24px 2px #0000000a, 0 8px 10px -5px #0000001f;
  --shadow-medium: 0 3px 14px 2px #0000000d, 0 8px 10px 1px #0000000f, 0 5px 5px -3px #0000001a;
  --size-com-md: var(--space-9);
  --space-1: 2px;
  --space-10: 40px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 20px;
  --space-8: 24px;
  --space-9: 32px;
  --spacing: var(--space-2);
  --success: var(--success-600);
  --success-100: #e2f8ec;
  --success-1000: #00211b;
  --success-200: #cff3df;
  --success-300: #b9ecd1;
  --success-400: #4ad49d;
  --success-50: #f3fcf6;
  --success-500: #26c78c;
  --success-600: #06ba7e;
  --success-700: #009468;
  --success-800: #006e50;
  --success-900: #004737;
  --success-foreground: #ffffff;
  --surface: var(--neutral-50);
  --surface-foreground: var(--neutral-900);
  --text-brand: var(--brand-600);
  --text-brand-active: var(--brand-700);
  --text-brand-hover: var(--brand-500);
  --text-disable: var(--neutral-400);
  --text-error: var(--error-600);
  --text-error-active: var(--error-700);
  --text-error-hover: var(--error-500);
  --text-inverse: #ffffff;
  --text-placeholder: var(--neutral-400);
  --text-primary: var(--neutral-800);
  --text-secondary: var(--neutral-700);
  --text-success: var(--success-600);
  --text-success-active: var(--success-700);
  --text-success-hover: var(--success-500);
  --text-tertiary: var(--neutral-500);
  --text-title: var(--neutral-900);
  --text-warning: var(--warning-600);
  --text-warning-active: var(--warning-700);
  --text-warning-hover: var(--warning-500);
  --warning: var(--warning-600);
  --warning-100: #ffebe0;
  --warning-1000: #611905;
  --warning-200: #ffd8c0;
  --warning-300: #ffcaac;
  --warning-400: #ffb987;
  --warning-50: #fff6f1;
  --warning-500: #ff9c5e;
  --warning-600: #fb7934;
  --warning-700: #d45a22;
  --warning-800: #ad3f13;
  --warning-900: #872808;
  --warning-foreground: #ffffff;
  --font-family-en: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-display: "Source Han Sans SC", "PingFang SC", sans-serif;
  --font-sans: var(--font-family-cn);
  --font-size-7: 36px;
  --font-size-8: 48px;
  --font-size-9: 64px;
  --line-height-3: 24px;
  --line-height-5: 32px;
  --line-height-7: 44px;
  --line-height-8: 56px;
  --line-height-9: 72px;
  --space-11: 48px;
  --space-12: 64px;
  --margin-com-2xs: var(--space-1);
  --margin-com-xs: var(--space-2);
  --margin-com-sm: var(--space-3);
  --margin-com-md: var(--space-4);
  --margin-com-lg: var(--space-5);
  --margin-com-xl: var(--space-6);
  --margin-com-2xl: var(--space-8);
  --margin-com-3xl: var(--space-9);
  --padding-com-2xs: var(--space-1);
  --padding-com-2xl: var(--space-8);
  --padding-com-3xl: var(--space-9);
  --gap-2xs: var(--space-1);
  --gap-2xl: var(--space-8);
  --size-com-xs: var(--space-7);
  --size-com-sm: var(--space-8);
  --size-com-lg: var(--space-10);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-neutral-0: var(--neutral-0);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-1000: var(--neutral-1000);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-1000: var(--brand-1000);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-1000: var(--success-1000);
  --color-success: var(--success);
  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-10000: var(--warning-10000);
  --color-warning: var(--warning);
  --color-error-50: var(--error-50);
  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-300: var(--error-300);
  --color-error-400: var(--error-400);
  --color-error-500: var(--error-500);
  --color-error-600: var(--error-600);
  --color-error-700: var(--error-700);
  --color-error-800: var(--error-800);
  --color-error-900: var(--error-900);
  --color-error-1000: var(--error-1000);
  --color-error-10000: var(--error-10000);
  --color-error: var(--error);
}

.dark {
  --accent: var(--neutral-100);
  --accent-foreground: var(--neutral-900);
  --ai-bg: linear-gradient(90deg, #eff7ff 0%, #f4f4ff 30%, #f8edff 60%, #fff2ff 100%);
  --ai-general: linear-gradient(90deg, #2e8cff 0%, #6b61ff 30%, #a647ff 60%, #e945ff 100%);
  --ai-general-active: linear-gradient(90deg, #2172db 0%, #584ddb 30%, #8636db 60%, #c235db 100%);
  --ai-general-hover: linear-gradient(90deg, #82beff 0%, #a3a0ff 30%, #d191ff 60%, #f98fff 100%);
  --ai-light: linear-gradient(90deg, #eff7ff 0%, #f4f4ff 30%, #f8edff 60%, #fff2ff 100%);
  --ai-light-active: linear-gradient(90deg, #abd5ff 0%, #c1c0ff 30%, #e3b5ff 60%, #feb5ff 100%);
  --ai-light-hover: linear-gradient(90deg, #d5ebff 0%, #dfe0ff 30%, #f2daff 60%, #ffdafe 100%);
  --background: var(--neutral-0);
  --bg-brand: var(--brand-600);
  --bg-brand-active: var(--brand-700);
  --bg-brand-hover: var(--brand-500);
  --bg-brand-light: var(--brand-100);
  --bg-brand-light-active: var(--brand-300);
  --bg-brand-light-hover: var(--brand-200);
  --bg-container: var(--neutral-0);
  --bg-container-disable: var(--neutral-200);
  --bg-error: var(--error-600);
  --bg-error-active: var(--error-700);
  --bg-error-hover: var(--error-500);
  --bg-error-light: var(--error-100);
  --bg-error-light-active: var(--error-300);
  --bg-error-light-hover: var(--error-200);
  --bg-mask: rgba(0, 0, 0, 0.8);
  --bg-neutral: var(--neutral-800);
  --bg-neutral-active: var(--neutral-900);
  --bg-neutral-hover: var(--neutral-700);
  --bg-neutral-light: var(--neutral-100);
  --bg-neutral-light-active: var(--neutral-300);
  --bg-neutral-light-hover: var(--neutral-200);
  --bg-page: var(--neutral-0);
  --bg-page-brand: var(--brand-50);
  --bg-page-neutral: var(--neutral-50);
  --bg-success: var(--success-600);
  --bg-success-active: var(--success-700);
  --bg-success-hover: var(--success-500);
  --bg-success-light: var(--success-100);
  --bg-success-light-active: var(--success-300);
  --bg-success-light-hover: var(--success-200);
  --bg-warning: var(--warning-600);
  --bg-warning-active: var(--warning-700);
  --bg-warning-hover: var(--warning-500);
  --bg-warning-light: var(--warning-100);
  --bg-warning-light-active: var(--warning-300);
  --bg-warning-light-hover: var(--warning-200);
  --border: var(--neutral-300);
  --border-brand: var(--brand-600);
  --border-brand-active: var(--brand-700);
  --border-brand-hover: var(--brand-500);
  --border-brand-light: var(--brand-300);
  --border-brand-light-hover: var(--brand-400);
  --border-error: var(--error-600);
  --border-error-active: var(--error-700);
  --border-error-hover: var(--error-500);
  --border-error-light: var(--error-300);
  --border-error-light-hover: var(--error-400);
  --border-neutral: var(--neutral-300);
  --border-success: var(--success-600);
  --border-success-active: var(--success-700);
  --border-success-hover: var(--success-500);
  --border-success-light: var(--success-300);
  --border-success-light-hover: var(--success-400);
  --border-warning: var(--warning-600);
  --border-warning-active: var(--warning-700);
  --border-warning-hover: var(--warning-500);
  --border-warning-light: var(--warning-300);
  --border-warning-light-hover: var(--warning-400);
  --border-width: 1px;
  --brand-100: #edf2ff;
  --brand-1000: #130d66;
  --brand-200: #dfe9ff;
  --brand-300: #d0ddff;
  --brand-400: #9ca9ff;
  --brand-50: #f7f9ff;
  --brand-500: #7381ff;
  --brand-600: #4a56ff;
  --brand-700: #343ad9;
  --brand-800: #2222b3;
  --brand-900: #18148c;
  --card: var(--neutral-0);
  --card-foreground: var(--neutral-900);
  --code: #f9f9fb;
  --code-foreground: #1e1d26;
  --code-highlight: #f0f0f4;
  --code-number: #9e9ca6;
  --color-fd-accent: #6868684d;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-background: #121212;
  --color-fd-border: #6663;
  --color-fd-card: #191919;
  --color-fd-card-foreground: #fafafa;
  --color-fd-foreground: #ebebeb;
  --color-fd-muted: #212121;
  --color-fd-muted-foreground: #b3b3b3cc;
  --color-fd-overlay: #0003;
  --color-fd-popover: #1e1e1e;
  --color-fd-popover-foreground: #dedede;
  --color-fd-primary: var(--color-fd-card-foreground);
  --color-fd-primary-foreground: #171717;
  --color-fd-ring: #8c8c8c;
  --color-fd-secondary: var(--color-fd-muted);
  --color-fd-secondary-foreground: var(--color-fd-foreground);
  --destructive: var(--error-600);
  --destructive-foreground: var(--neutral-0);
  --divider-neutral-basic: var(--neutral-300);
  --divider-neutral-strong: var(--neutral-400);
  --error: var(--error-600);
  --error-100: #ffebe9;
  --error-1000: oklch(0.95138 0.01657 26.648);
  --error-10000: #660d1c;
  --error-200: #ffdad6;
  --error-300: #ffcbc7;
  --error-400: #ff9f9c;
  --error-50: #fff7f6;
  --error-500: #ff7373;
  --error-600: #ff494f;
  --error-700: #d9343f;
  --error-800: #b32230;
  --error-900: #8c1424;
  --error-foreground: #ffffff;
  --focusring-brand: var(--brand-300);
  --font-family-cn: "PingFang SC", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 28px;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --foreground: var(--neutral-900);
  --gap-lg: var(--space-5);
  --gap-md: var(--space-4);
  --gap-sm: var(--space-3);
  --gap-xl: var(--space-6);
  --gap-xs: var(--space-2);
  --input: var(--neutral-300);
  --line-height-1: 20px;
  --line-height-2: 22px;
  --line-height-4: 28px;
  --line-height-6: 36px;
  --muted: var(--neutral-100);
  --muted-foreground: var(--neutral-700);
  --neutral-0: #ffffff;
  --neutral-10: #fcfcfd;
  --neutral-100: #f0f0f4;
  --neutral-1000: #000000;
  --neutral-200: #e8e7ed;
  --neutral-300: #e1e0e7;
  --neutral-400: #aaa8b3;
  --neutral-50: #f9f9fb;
  --neutral-500: #9e9ca6;
  --neutral-600: #8e8c99;
  --neutral-700: #666473;
  --neutral-800: #403f4d;
  --neutral-900: #1e1d26;
  --padding-com-lg: var(--space-5);
  --padding-com-md: var(--space-4);
  --padding-com-sm: var(--space-3);
  --padding-com-xl: var(--space-6);
  --padding-com-xs: var(--space-2);
  --popover: var(--neutral-0);
  --popover-foreground: var(--neutral-900);
  --primary: var(--brand-600);
  --primary-foreground: var(--neutral-0);
  --radius: 6px;
  --radius-2xl: calc(var(--radius) + 10px);
  --radius-circle: 999px;
  --radius-lg: calc(var(--radius) + 2px);
  --radius-md: var(--radius);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-xl: calc(var(--radius) + 6px);
  --ring: var(--brand-300);
  --secondary: var(--neutral-100);
  --secondary-foreground: var(--neutral-900);
  --selection: #1e1d26;
  --selection-foreground: #ffffff;
  --shadow-basic: 0 1px 10px 0 #0000000d, 0 4px 5px 0 #00000014, 0 2px 4px -1px #0000001f;
  --shadow-focus: 0 0 0 2px #d0ddff;
  --shadow-high: 0 6px 30px 5px #0000000d, 0 16px 24px 2px #0000000a, 0 8px 10px -5px #0000001f;
  --shadow-medium: 0 3px 14px 2px #0000000d, 0 8px 10px 1px #0000000f, 0 5px 5px -3px #0000001a;
  --size-com-md: var(--space-9);
  --space-1: 2px;
  --space-10: 40px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 20px;
  --space-8: 24px;
  --space-9: 32px;
  --spacing: var(--space-2);
  --success: var(--success-600);
  --success-100: #e2f8ec;
  --success-1000: #00211b;
  --success-200: #cff3df;
  --success-300: #b9ecd1;
  --success-400: #4ad49d;
  --success-50: #f3fcf6;
  --success-500: #26c78c;
  --success-600: #06ba7e;
  --success-700: #009468;
  --success-800: #006e50;
  --success-900: #004737;
  --success-foreground: #ffffff;
  --surface: var(--neutral-50);
  --surface-foreground: var(--neutral-900);
  --text-brand: var(--brand-600);
  --text-brand-active: var(--brand-700);
  --text-brand-hover: var(--brand-500);
  --text-disable: var(--neutral-400);
  --text-error: var(--error-600);
  --text-error-active: var(--error-700);
  --text-error-hover: var(--error-500);
  --text-inverse: #ffffff;
  --text-placeholder: var(--neutral-400);
  --text-primary: var(--neutral-800);
  --text-secondary: var(--neutral-700);
  --text-success: var(--success-600);
  --text-success-active: var(--success-700);
  --text-success-hover: var(--success-500);
  --text-tertiary: var(--neutral-500);
  --text-title: var(--neutral-900);
  --text-warning: var(--warning-600);
  --text-warning-active: var(--warning-700);
  --text-warning-hover: var(--warning-500);
  --warning: var(--warning-600);
  --warning-100: #ffebe0;
  --warning-1000: #611905;
  --warning-10000: oklch(0.93844 0.03172 65.901);
  --warning-200: #ffd8c0;
  --warning-300: #ffcaac;
  --warning-400: #ffb987;
  --warning-50: #fff6f1;
  --warning-500: #ff9c5e;
  --warning-600: #fb7934;
  --warning-700: #d45a22;
  --warning-800: #ad3f13;
  --warning-900: #872808;
  --warning-foreground: #ffffff;
  --font-family-en: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-display: "Source Han Sans SC", "PingFang SC", sans-serif;
  --font-sans: var(--font-family-cn);
  --font-size-7: 36px;
  --font-size-8: 48px;
  --font-size-9: 64px;
  --line-height-3: 24px;
  --line-height-5: 32px;
  --line-height-7: 44px;
  --line-height-8: 56px;
  --line-height-9: 72px;
  --space-11: 48px;
  --space-12: 64px;
  --margin-com-2xs: var(--space-1);
  --margin-com-xs: var(--space-2);
  --margin-com-sm: var(--space-3);
  --margin-com-md: var(--space-4);
  --margin-com-lg: var(--space-5);
  --margin-com-xl: var(--space-6);
  --margin-com-2xl: var(--space-8);
  --margin-com-3xl: var(--space-9);
  --padding-com-2xs: var(--space-1);
  --padding-com-2xl: var(--space-8);
  --padding-com-3xl: var(--space-9);
  --gap-2xs: var(--space-1);
  --gap-2xl: var(--space-8);
  --size-com-xs: var(--space-7);
  --size-com-sm: var(--space-8);
  --size-com-lg: var(--space-10);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-neutral-0: var(--neutral-0);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-1000: var(--neutral-1000);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-1000: var(--brand-1000);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-1000: var(--success-1000);
  --color-success: var(--success);
  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-10000: var(--warning-10000);
  --color-warning: var(--warning);
  --color-error-50: var(--error-50);
  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-300: var(--error-300);
  --color-error-400: var(--error-400);
  --color-error-500: var(--error-500);
  --color-error-600: var(--error-600);
  --color-error-700: var(--error-700);
  --color-error-800: var(--error-800);
  --color-error-900: var(--error-900);
  --color-error-1000: var(--error-1000);
  --color-error-10000: var(--error-10000);
  --color-error: var(--error);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

  body {
    @apply bg-background text-foreground;
  }
}
